
// Job paramaters to set for this environment

// Resource manager settings

params.gatk_bundle_path = "/ifs/data/nfs_share/ikmb_repository/references/gatk/v2"

executor {
  name="slurm"
  queueSize=50
}

// Process setting

process {

  // Global cluster parameters
  executor = 'slurm'
  queue = 'ikmb_a'
  clusterOptions = { '--qos=ikmb_a' }
  memory = { 8.GB * task.attempt }
  cpus = { 1 * task.attempt }
  time = { 2.h * task.attempt }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
 
}

singularity {
	enabled = true
	runOptions = "-B /ifs"
	cacheDir = "/ifs/data/nfs_share/ikmb_repository/singularity_cache"
}
